@import "../../style.scss";


.more-info {
  @include themify($themes) {
    background-color: themed("bgSoft");
    color: themed("textColor");
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;

    h2 {
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
      color: themed("textColor");
    }


    .detail-img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      border-radius: 5px;
      margin-bottom: 1rem;
    }


    p {
      font-size: 1rem;
      margin: 0.5rem 0;
    }


    ul {
      list-style: disc;
      padding-left: 1.5rem;
      margin-top: 0.5rem;


      li {
        margin-bottom: 0.3rem;
      }
    }
  }
}
